@page
@model AT5.Pages.Usuarios.CriarModel
@{
    ViewData["Titile"] = "Cadastrar Usuário";
}
<h2>@ViewData["Title"]</h2>
<form method="post">
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" id="Nome" name="Usuario.Nome" class="form-control" />
        <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">E-mail</label>
        <input type="text" id="Email" name="Usuario.Email" class="form-control" />
        <span asp-validation-for="Usuario.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="DataNascimento" class="form-label">Data de Nascimento</label>
        <input type="datetime" id="DataNascimento" name="Usuario.DataNascimento" class="form-control" />
        <span asp-validation-for="Usuario.DataNascimento" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>